.medium-img {
    width: 400px;
    height: 266px;
}
img{
    width: 100%;
    height: auto;
}
.body {
    background-color: antiquewhite;
}
.navcolor {
    /* background-color: #ffc107!important; */
    background-color: rgb(217, 185, 138)!important;
}

.accent {
    color: rgb(217, 185, 138)
}

.spacing {
    padding-top: 20px;
    padding-bottom: 20px;
}

.learn-title{
    padding-top: 100px;
    padding-left: 70px;
}

.navbar-nav{
    padding-left: 25%;
}

.shopping{
    background-color: rgb(228, 184, 63);
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
}

.step2-img{
    width: 100%;
    height: auto;
}
.step2-text{
    padding-left:7%;
    padding-top: 5%;
    padding-bottom: 80%;
}

.step3-text{
    padding-left:7%;
    padding-top: 5%;
    padding-bottom: 60%;
}

.arrow{
    padding-top: 100px;
}

.subtitle{
    font-size: 30px;
    color: rgb(102, 63, 5)
}

.general_text{
    font-size: 20px;
    color:rgb(102, 63, 5);
    font-family: sans-serif;
    
}

.note{
    color: brown
}

.ingredient:hover{
    background-color: gold;
    cursor: move;
}

.ing-img {
    height: 100px;
    width: 100px;
}