{% extends "layout.html" %}

{% block content %}

<script type="module" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<script>
    let lesson = {{lesson|tojson}}
    console.log(lesson) //this is what is printing out when refresh page
</script>

<body>
    <div class="container">
        <div class="spacing">
            <div class="row learn-title">
                <h2><i>{{lesson.title}} </i></h2>
                <h3 id="progress"></h3>
                <div id="myProgress">
                    <div id="myBar"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <img class="lesson-image" id = "lesson-image" src="{{lesson.image}}">
                <div id="cart"></div>
            </div>
        </div>
        <br>
        <div class="details general_text" id="details">
            
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <button id="prev-button" class="btn btn-warning">Prev</button>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2" id="enter-quiz"></div>
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <button id="next-button" class="btn btn-warning next-button">Next</button>
            </div>
        </div>
        <br>
        <br>
    </div>
    
    
</body>
{% endblock %}